---
import aei from "./aei.gif?url"
import bee from "./beebadge.png?url"
import beebles from "./beebles.png?url"
import charlie from "./charlie.png?url"
import coolelectronics from "./ce88x31.png?url"
import freeplay from "./freeplay.png?url"
import gba from "./sherbetbutton.gif?url"
import inter from "./inter.png?url"
import jack from "./jack.png?url"
import malice from "./malice.png?url"
import mau from "./mau.png?url"
import micro from "./micro.png?url"
import pinkcreeper100 from "./pinkcreeper100.png?url"
import please_theme from "./pleasetheme.png?url"
import sideberry from "./sideberry.png?url"
import slipfox from "./slipfox.png?url"
import sneexy from "./sneexy.gif?url"
import spacy from "./ssm230.png?url"
import split from "./split.gif?url"
import sterophonick from "./sterophonick.gif?url"
import whitespaced from "./whitespaced.gif?url"
import toastyfen from "./toastyfen.gif?url"
---

<h2>Buttons</h2>
<h3>Etcetera members</h3>
<ul>
	<li>
		<a href="https://jack.cab">
			<img src={jack} alt="Jack.cab" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://discord.com/users/1164598332132433930" title="Charlie"
			><img
				src={charlie}
				alt="Charlie"
				width="88"
				height="31"
				decoding="async"
				style="image-rendering:pixelated"
			/></a
		>
	</li>
	<li>
		<a href="https://me.fyle.uk">
			<img src={split} alt="split" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://maliciousmeaning.dev/" title="Malice">
			<img
				src={malice}
				alt="Malice"
				width="120"
				height="31"
				decoding="async"
				style="image-rendering:pixelated"
			/>
		</a>
	</li>
	<li>
		<a href="https://github.com/maumaumaumaumaumau" title="mau"
			><img src={mau} alt="mau" width="88" height="31" decoding="async" /></a
		>
	</li>
	<li><a class="noimg">Bongo</a></li>
	<li><a class="noimg" href="https://cluster.coolviruses.download">Cluster</a></li>
	<li><a class="noimg" href="https://fur.dev">Wavi</a></li>
	<li><a class="noimg" href="https://shade.coolviruses.download/">shadeblast</a></li>
	<li><a class="noimg">xzen</a></li>
</ul>
<h3>Fediverse <a href="https://en.wiktionary.org/wiki/mutual#Noun">mutuals</a></h3>
<p>(incomplete)</p>
<ul>
	<li>
		<a href="https://aei.sh/">
			<img
				src={aei}
				alt="aei's site"
				width="88"
				height="31"
				style="image-rendering:pixelated"
			/>
		</a>
	</li>
	<li>
		<a href="https://beebl.es/">
			<img
				src={beebles}
				alt="Beebles"
				width="88"
				height="31"
				style="image-rendering:pixelated"
			/>
		</a>
	</li>
	<li>
		<a href="https://bee.movie/">
			<img
				src={bee}
				alt="suspiciouslyBee"
				width="88"
				height="31"
				style="image-rendering:pixelated"
			/>
		</a>
	</li>
	<li>
		<a href="https://coolelectronics.me/">
			<img
				src={coolelectronics}
				alt="coolelectronics.me"
				width="88"
				height="31"
				decoding="async"
				style="image-rendering:pixelated"
			/>
		</a>
	</li>
	<li>
		<a href="https://freeplay.floof.company/">
			<img src={freeplay} alt="Freeplay" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://micro.pages.gay/">
			<img
				src={micro}
				alt="Micro"
				width="88"
				height="31"
				decoding="async"
				style="image-rendering:pixelated"
			/>
		</a>
	</li>
	<li>
		<a href="https://sneexy.pages.gay/">
			<img
				src={sneexy}
				alt="Sneexy"
				width="88"
				height="31"
				decoding="async"
				style="image-rendering:pixelated"
			/>
		</a>
	</li>
	<li>
		<a href="https://spacy.neocities.org/">
			<img src={spacy} alt="spacy" width="88" height="31" style="image-rendering:pixelated" />
		</a>
	</li>
	<li>
		<a href="https://sterophonick.github.io/">
			<img src={sterophonick} alt="Sterophonick" width="88" height="31" style="image-rendering:pixelated" />
		</a>
	</li>
	<li>
		<a href="https://infisoft.org">
			<img src={whitespaced} alt="whitespaced" width="88" height="31" style="image-rendering:pixelated" />
		</a>
	</li>
	<li>
		<a href="https://pinkcreeper100.neocities.org/">
			<img
				src={pinkcreeper100}
				alt="pinkcreeper100"
				width="88"
				height="31"
				style="image-rendering:pixelated"
			/>
		</a>
	</li>
	<li>
    <a href="https://toastyfen.neocities.org/">
        <img
         src={toastyfen}
        alt="toastyfen"
         width="88"
           height="31"
      style="image-rendering:pixelated"
       />
      </a>
     </li>
</ul>
<h3>Other</h3>
<ul>
	<li>
		<a href="https://whois.slipfox.xyz/">
			<img src={slipfox} alt="Slipfox" width="88" height="31" decoding="async" style="image-rendering:pixelated" />
		</a>
	</li>
	<li>
		<a href="https://gba.ioi-xd.net/">
			<img
				src={gba}
				alt="gba.ioi-xd.net: MOD RADIO"
				width="88"
				height="31"
				decoding="async"
			/>
		</a>
	</li>
	<li>
		<a href="https://addons.mozilla.org/firefox/addon/sidebery">
			<img
				src={sideberry}
				alt="Use Sideberry, not Arc!"
				width="88"
				height="31"
				decoding="async"
			/>
		</a>
	</li>
	<li>
		<a href="https://rsms.me/inter/">
			<img
				src={inter}
				alt="Works best with Inter 4 Variable"
				width="88"
				height="31"
				decoding="async"
			/>
		</a>
	</li>
	<li>
		<a href="https://gradienceteam.github.io/">
			<img
				src={please_theme}
				alt="Please theme our apps"
				width="120"
				height="31"
				decoding="async"
			/>
		</a>
	</li>
	<li>
		<iframe
			src="https://incr.easrng.net/badge?key=jackcab"
			style="background:url(data:image/gif;base64,R0lGODlhWAAfAMIFAAAAAEBAQICAgNTQyP///04oJ04oJ04oJyH5BAEKAAcALAAAAABYAB8AAAP5OLrc/jDKSau9OOsnuv9gKI5kaZ4gwQhB675wLM90bd/uoC4s4f/AoHBILBqNloBuFTg6n9Co7sha8prRrDZrjVR3it52TB52IV9meb0+c5TggZhN58YHgEb6Wu9DzwCBTGdzfoZmYIGKV4RYh49AVoqTYXBqkJgqdw57lZmYbpyWfJ+PoXqjnqWHp4Nxhat1ciepco6xdTgthBu9vr9xuMJmv8XGxxgCyMnLzc48zxbK08phHdbW1R6zPNdy3ODREtRh3+Xa0Ojf1evo7OJe5ut62dfq1Nvs0/AT++fp5VYE9AftH794+rIFnHVvoLeE8g5KnEixooQEADs=)"
			title="increment badge"
			width="88"
			height="31"
			sandbox="sandbox allow-scripts allow-popups allow-forms allow-same-origin"
			frameborder="0"></iframe>
	</li>
</ul>

<style>
	ul {
		list-style-type: none;
		padding-inline-start: 0;
		display: flex;
		justify-content: space-evenly;
		gap: 1ch;
		flex-direction: row;
		flex-wrap: wrap;
	}
	li {
		display: inline-block;
		margin: 0;
	}
	img {
		vertical-align: bottom;
	}
	.noimg {
		height: 31px;
		vertical-align: middle;
	}
	@media (max-width: 560px) {
		li {
			display: block;
			margin-left: 0;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
</style>
