---
import aa from "./aagaming-8831.png?url"
import aei from "./aei.gif?url"
import bee from "./beebadge.png?url"
import beebles from "./beebles.png?url"
import charlie from "./charlie.png?url"
import coolelectronics from "./ce88x31.png?url"
import freeplay from "./freeplay.png?url"
import gba from "./sherbetbutton.gif?url"
import inter from "./inter.png?url"
import ivy from "./ivy.png?url"
import jack from "./jack.png?url"
import luna from "./luna.png?url"
import malice from "./malice.png?url"
import mau from "./mau.png?url"
import micro from "./micro.png?url"
import pancakes from "./pancakes.png?url"
import pinkcreeper100 from "./pinkcreeper100.png?url"
import please_theme from "./pleasetheme.png?url"
import sideberry from "./sideberry.png?url"
import slipfox from "./slipfox.png?url"
import sneexy from "./sneexy.gif?url"
import spacy from "./ssm230.png?url"
import split from "./split.gif?url"
import sterophonick from "./sterophonick.gif?url"
import toastyfen from "./toastyfen.gif?url"
import tuxcrafting from "./tctek.gif?url"
import ven from "./ven.png?url"
import wavi from "./wavi.png?url"
import whitespaced from "./whitespaced.gif?url"
---

<h2>Buttons</h2>
<h3>Etcetera members</h3>
<ul>
	<li>
		<a href="https://jack.cab">
			<img
				src={jack}
				alt="Jack.cab"
				width="88"
				height="31"
				decoding="async"
				style="image-rendering:auto"
			/>
		</a>
	</li>
	<li>
		<a href="https://aagaming.me">
			<img src={aa} alt="aagaming" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://charlie.downgraded.uk" title="Charlie">
			<img src={charlie} alt="Charlie" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://me.fyle.uk">
			<img
				src={split}
				alt="split"
				width="88"
				height="31"
				decoding="async"
				style="image-rendering:auto"
			/>
		</a>
	</li>
	<li>
		<a href="https://maliciousmeaning.dev/" title="Malice">
			<img src={malice} alt="Malice" width="120" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://github.com/maumaumaumaumaumau" title="mau">
			<img src={mau} alt="mau" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://fur.dev" title="Wavi">
			<img src={wavi} alt="Wavi" width="88" height="31" decoding="async" />
		</a>
	</li>
</ul>
<h3>Fediverse <a href="https://en.wiktionary.org/wiki/mutual#Noun">mutuals</a></h3>
<p>(incomplete)</p>
<ul>
	<li>
		<a href="https://aei.sh/">
			<img src={aei} alt="aei's site" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://beebl.es/">
			<img src={beebles} alt="Beebles" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://bee.movie/">
			<img src={bee} alt="suspiciouslyBee" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://coolelectronics.me/">
			<img
				src={coolelectronics}
				alt="coolelectronics.me"
				width="88"
				height="31"
				decoding="async"
			/>
		</a>
	</li>
	<li>
		<a href="https://freeplay.floof.company/">
			<img
				src={freeplay}
				alt="Freeplay"
				width="88"
				height="31"
				decoding="async"
				style="image-rendering:auto"
			/>
		</a>
	</li>
	<li>
		<a href="https://micro.pages.gay/">
			<img src={micro} alt="Micro" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://sneexy.pages.gay/">
			<img src={sneexy} alt="Sneexy" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://spacy.neocities.org/">
			<img src={spacy} alt="spacy" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://sterophonick.github.io/">
			<img src={sterophonick} alt="Sterophonick" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://infisoft.org">
			<img src={whitespaced} alt="whitespaced" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://pinkcreeper100.neocities.org/">
			<img
				src={pinkcreeper100}
				alt="pinkcreeper100"
				width="88"
				height="31"
				decoding="async"
			/>
		</a>
	</li>
	<li>
		<a href="https://toastyfen.neocities.org/">
			<img src={toastyfen} alt="toastyfen" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://luna.anarchy.center/">
			<img src={luna} alt="luna's anarchy center" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://tuxcrafting.online">
			<img src={tuxcrafting} alt="tuxcrafting" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://trypancakes.com">
			<img src={pancakes} alt="pancakes" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://ivytastic.lgbt">
			<img src={ivy} alt="ivytastic" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://vendicated.dev">
			<img src={ven} alt="Vendicated" width="88" height="31" decoding="async" />
		</a>
	</li>
</ul>
<h3>Other</h3>
<ul>
	<li>
		<a href="https://whois.slipfox.xyz/">
			<img src={slipfox} alt="Slipfox" width="88" height="31" decoding="async" />
		</a>
	</li>
	<li>
		<a href="https://gba.ioi-xd.net/">
			<img
				src={gba}
				alt="gba.ioi-xd.net: MOD RADIO"
				width="88"
				height="31"
				decoding="async"
				style="image-rendering:auto"
			/>
		</a>
	</li>
	<li>
		<a href="https://addons.mozilla.org/firefox/addon/sidebery">
			<img
				src={sideberry}
				alt="Use Sideberry, not Arc!"
				width="88"
				height="31"
				decoding="async"
				style="image-rendering:auto"
			/>
		</a>
	</li>
	<li>
		<a href="https://rsms.me/inter/">
			<img
				src={inter}
				alt="Works best with Inter 4 Variable"
				width="88"
				height="31"
				decoding="async"
				style="image-rendering:auto"
			/>
		</a>
	</li>
	<li>
		<a href="https://gradienceteam.github.io/">
			<img
				src={please_theme}
				alt="Please theme our apps"
				width="120"
				height="31"
				decoding="async"
				style="image-rendering:auto"
			/>
		</a>
	</li>
</ul>

<style>
	ul {
		list-style-type: none;
		padding-inline-start: 0;
		display: flex;
		justify-content: space-evenly;
		gap: 1ch;
		flex-direction: row;
		flex-wrap: wrap;
	}
	li {
		display: inline-block;
		margin: 0;
	}
	img {
		vertical-align: bottom;
		image-rendering: pixelated;
	}
	@media (max-width: 560px) {
		li {
			display: block;
			margin-left: 0;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
</style>
