---
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
import { getCollection } from "astro:content"
import FormattedDate from "../components/FormattedDate.astro"
import Buttons from "../components/Buttons/Buttons.astro"
import MyTime from "../components/MyTime.svelte"
import {
	siDiscord,
	siMastodon,
	siGithub,
	siCodeberg,
	siYoutube,
	siMatrix,
	siMisskey,
} from "simple-icons"
import LastName from "../components/LastName.svelte"

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)

const socials = [
	{
		icon: siDiscord,
		href: "https://discord.com/users/173589391560802306",
		text: "@nixos.org",
	},
	{
		icon: siMatrix,
		href: "https://matrix.to/#/@jack-w:matrix.org",
		text: "@jack-w:matrix.org",
	},
	{
		icon: siMastodon,
		href: "https://wetdry.world/@j",
		text: "@j@wetdry.world",
	},
	{
		icon: siMisskey,
		href: "https://owo.community/@j",
		text: "@j@owo.community",
	},
	{
		icon: siGithub,
		href: "https://github.com/Jack5079",
		text: "@Jack5079",
	},
	{
		icon: siCodeberg,
		href: "https://codeberg.org/j-w",
		text: "@j-w",
	},
	{
		icon: siYoutube,
		href: "https://youtube.com/@Jack5079",
		text: "@Jack5079",
	},
]
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 148px;
				font-style: italic;
				color: var(--subtext0);
			}
			@media (prefers-color-scheme: dark) {
				ul li a:visited {
					color: var(--sapphire);
				}
			}
			.p-name {
				text-decoration: none;
				color: inherit;
				display: flex;
				flex-direction: row;
				gap: 0.5ch;
				font-size: calc(min(32px, 4vw));
			}
			dl a {
				display: flex;
				gap: 1ch;
				text-decoration: none;
				color: var(--subtext0);
				fill: currentColor;
				font-weight: bold;
			}
			dl a:hover {
				text-decoration: underline;
			}
			dd {
				margin-inline-start: 0;
			}
			dl :global(svg) {
				height: 24px;
			}
			dl {
				margin-block-end: 0;
			}
			h1 {
				display: flex;
				align-items: center;
				gap: 0.5ch;
				margin: 0;
			}
			@media (all) {
				h1 {
					justify-content: center;
				}
				header {
					position: fixed;
					width: 250px;
					top: 2em;
					left: calc(50% - 600px);
					background: var(--surface0);
					padding: 1ch;
					box-sizing: border-box;
					border-radius: 1ch;
					border: 1px solid var(--surface1);
				}
			}
		</style>
	</head>
	<body>
		<header class="h-card">
			<h1 role="none" aria-label="Jack W.">
				<img
					src="/livid.webp"
					alt="photo of a beagle (not me, i am not a beagle) in the kitchen, close up, looking to the left, floppy ears, mouth closed, eyes open"
					class="u-photo"
					height="48px"
					width="48px"
					style="border-radius: 50%;"
				/>
				<a href="/" role="heading" class="p-name u-url u-uid">
					Jack <LastName client:load />
				</a>
			</h1>
			<p class="p-note">
				Co-founder of
				<a class="p-org h-card" href="https://cetera.uk">
					<!-- TODO: Use <img> here so I can add u-photo class -->
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 173.8 275.72"
						height="20"
						style="vertical-align: middle"
						role="none"
						fill="currentColor">
						<circle cx="37.13" cy="26.43" r="21.6"></circle>
						<circle cx="34.62" cy="117.87" r="34.62"></circle>
						<circle cx="119.78" cy="130.68" r="21.6"></circle>
						<circle cx="127.16" cy="46.64" r="46.65"></circle>
						<circle cx="102.68" cy="219.58" r="56.14"></circle>
					</svg> Etcetera</a
				>.
			</p>
			<!-- for bridgy fed -->
			<a
				href="acct:j@jack.cab"
				class="u-url"
				role="none"
				aria-hidden
				hidden
				tabindex="-1"
				style="display: none">
			</a>
			<dl>
				<a
					href="https://en.wikipedia.org/wiki/Time_in_Massachusetts#IANA_time_zone_database"
					title="Time zone">
					<dt aria-label="Time zone">
						<svg viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
							<path
								d="m 8 0 c -4.40625 0 -8 3.59375 -8 8 s 3.59375 8 8 8 s 8 -3.59375 8 -8 s -3.59375 -8 -8 -8 z m 0 2 c 3.324219 0 6 2.675781 6 6 s -2.675781 6 -6 6 s -6 -2.675781 -6 -6 s 2.675781 -6 6 -6 z m 0 0"
							></path>
							<path
								d="m 4.929688 4.953125 c -0.128907 0.003906 -0.257813 0.058594 -0.351563 0.152344 c -0.191406 0.195312 -0.1875 0.511719 0.007813 0.707031 l 3.113281 3.042969 c 0.105469 0.097656 0.246093 0.144531 0.386719 0.128906 h 2.914062 c 0.277344 0 0.5 -0.222656 0.5 -0.5 c 0 -0.273437 -0.222656 -0.5 -0.5 -0.5 h -2.761719 l -2.953125 -2.886719 c -0.09375 -0.09375 -0.222656 -0.144531 -0.355468 -0.144531 z m 0 0"
							></path>
						</svg>
					</dt>
					<dd>America/New_York <MyTime client:load /></dd>
				</a>
				{
					socials.map(social => (
						<a href={social.href} rel="me" title={social.icon.title}>
							<dt set:html={social.icon.svg} aria-label={social.icon.title} />
							<dd>{social.text}</dd>
						</a>
					))
				}
			</dl>
			<Buttons />
		</header>

		<!-- <main>
			<section>
				<em>WIP: no actual content yet</em>
				<ul>
					{
						posts.map(post => (
							<li>
								<FormattedDate date={post.data.pubDate} />
								<a href={`/${post.slug}/`}>{post.data.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer /> -->
	</body>
</html>
