---
import Layout from "../layouts/Layout.astro"
import Quote from "../components/Quote.astro"
import Bento from "../components/Bento.astro"
import Section from "../components/Section.astro"
import Social from "../components/Social.astro"
import {
	siX,
	siGithubsponsors,
	siGithub,
	siBluesky,
	siDiscord,
	siMastodon,
	siSteam,
} from "simple-icons"
import Splash from "../components/Splash.astro"

import social_bluesky from "../assets/marzipan/fg_bluesky.webp?url"
import social_discord from "../assets/marzipan/fg_discord.webp?url"
import social_github from "../assets/marzipan/fg_github.webp?url"
import social_mastodon from "../assets/marzipan/fg_mastodon.webp?url"
import social_steam from "../assets/marzipan/fg_steam.webp?url"

// Do not inline this it is for robots
// No alt text because it would have been the same as the title
import opengraph from "../assets/opengraph.png"

import red from "../assets/pantson/red.png?url"
import green from "../assets/pantson/green.png?url"
import pantson from "../assets/pantson/joinvivid.webp?url"

import { getCollection } from "astro:content"
import Buttons from "../components/Buttons.astro"
const articles = await getCollection("blog")
---

<Layout
	title="Jack.cab"
	description="I write, code, and design. Etceteran #1."
	bodyClass="h-card"
	image={[opengraph, ""]}>
	<link href="acct:j@jack.cab" class="u-url" />
	<p class="p-note">
		I develop and design software.
		<a href="https://cetera.uk">Etceteran</a> #1.
	</p>
	<Bento
		layout={[
			["blog", "blog", "blog"],
			["clock pronouns socials"],
			["reviews reviews socials"],
			["buttons buttons philosophy"],
			["buttons buttons philosophy"],
			["buttons buttons pantson"],
		]}>
		<Section id="blog">
			<legend role="heading" aria-level="2"
				><img
					style="vertical-align:sub;image-rendering:pixelated"
					src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQAgMAAABfD3aUAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAdnJLH8AAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAxQTFRFAAAAAAAAAAAA////NVcRhAAAAAF0Uk5TAEDm2GYAAAA3SURBVAjXLcqxCcAwEATBBRXwDRm+dYEbEjh9WF3gYFg4jhb8Np4TT1QsVIZmdhjv32yW+UjXXEQHIRA5bnbJAAAAAElFTkSuQmCC"
					alt=""
				/>
				<a href="/blog/">jack.cab/blog/</a></legend
			>
			<ul>
				{
					articles
						.sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
						.slice(0, 5)
						.map(({ data: { title, description, date }, id }) => (
							<li>
								<time datetime={date.toISOString()}>
									{date.toLocaleDateString("en-US", {
										month: "short",
										day: "2-digit",
										timeZone: "UTC",
									})}
								</time>
								<span>
									<a href={`/blog/${id}`}>{title}</a>: {description}
								</span>
							</li>
						))
				}
			</ul>
		</Section>
		<Section id="clock">
			<legend>My time</legend>
			<!-- prettier-ignore -->
			<time id="tz"><script is:inline>tzf=_=>new Date().toLocaleString([],{timeZone:"US/Eastern",timeStyle:"short"});tz.innerText=tzf();setInterval("tz.innerText=tzf()",1e3)</script><noscript>JS required</noscript></time>
		</Section>
		<Section id="pronouns" style="text-align:center">
			<legend role="heading" aria-level="2">Pronouns</legend>
			<span style="white-space:pre;font-weight:1000;font-size:x-large">
				<span>he</span>/<span>him</span>
			</span>
		</Section>
		<Section id="socials">
			<legend role="heading" aria-level="2">Socials</legend>

			<ul style="line-height:2">
				<Social
					marzipan={social_discord}
					href="https://discord.com/users/173589391560802306"
					simple_icon={siDiscord}>
					@nixos.org
				</Social>
				<Social
					marzipan={social_bluesky}
					href="https://bsky.app/profile/jack.cab"
					simple_icon={siBluesky}>
					@jack.cab
				</Social>
				<Social simple_icon={siX} href="https://x.com/banger_post">@banger_post</Social>
				<Social
					marzipan={social_mastodon}
					href="https://wetdry.world/@j"
					simple_icon={siMastodon}>
					@j@wetdry.world
					<ul slot="extra">
						<Social
							marzipan={social_bluesky}
							href="https://bsky.app/profile/fedi.jack.cab"
							simple_icon={siBluesky}
							inline>
							@fedi.jack.cab<span slot="extra">
								, follow <a href="https://bsky.app/profile/ap.brid.gy"
									>@ap.brid.gy</a
								> first
							</span></Social
						>
					</ul>
				</Social>
				<Social
					marzipan={social_github}
					href="https://github.com/Jack5079"
					simple_icon={siGithub}>
					@Jack5079
					<ul slot="extra">
						<Social
							simple_icon={siGithubsponsors}
							href="https://github.com/sponsors/Jack5079">
							@Jack5079
						</Social>
					</ul>
				</Social>
				<Social
					marzipan={social_steam}
					href="https://steamcommunity.com/id/Jack5079/"
					simple_icon={siSteam}>@Jack5079</Social
				>
			</ul>
			<p style="font-size:smaller">
				Colored icons from the
				<a href="https://licorice45.github.io/projects/marzipan">Marzipan</a> icon pack by <a
					href="https://licorice45.github.io">licorice45</a
				>, licensed under CC-BY-SA 4.0
			</p>
		</Section>
		<Section id="reviews">
			<legend role="heading" aria-level="2">Testimonials</legend>
			<Quote
				>you type like a schizo<Fragment slot="byline"
					><a href="https://eepy.wav.blue">Wavi</a>, Bitdancer whisperer, April 2025
				</Fragment></Quote
			>
			<Quote
				>have you not gone outside in like 4 years<Fragment slot="byline"
					>May, of
					<a href="https://wetdry.world/@j/112164857178980569"
						>'MY INSTANCE CANT FUCKING FEDERATE'</a
					>
					fame, May 2025
				</Fragment></Quote
			>
			<Quote
				>oh well i'll just hack into your router<Fragment slot="byline"
					>tacticalmanx75, December 2024</Fragment
				></Quote
			></Section
		>
		<Section id="buttons">
			<legend role="heading" aria-level="2">Buttons</legend>
			<Buttons />
		</Section>
		<Section id="philosophy">
			<legend role="heading" aria-level="2">Splash</legend>
			<Splash />
		</Section>
		<Section id="pantson">
			<legend role="heading" aria-level="2">Colors</legend>
			<script>
				let timeout: ReturnType<typeof setTimeout>
				document.body.addEventListener("click", event => {
					const target = event.target as HTMLElement
					const button = target.closest("button[data-color]")
					if (button) {
						const color = button.getAttribute("data-color")!
						navigator.clipboard.writeText(color)
					}
				})
			</script>
			<button data-color="#FF4539" title="Copy to clipboard">
				<img src={red} alt="#FF4539: RED ALERT" width="64" height="100" decoding="async" />
			</button>
			<button data-color="#6ACB5D" title="Copy to clipboard">
				<img
					src={green}
					alt="#6ACB5D: LUCKY YOU"
					width="64"
					height="100"
					decoding="async"
				/>
			</button>
			<a href="https://pantson.xandra.cc/">
				<img
					src={pantson}
					alt="Pantson: join the club"
					width="64"
					height="100"
					decoding="async"
				/>
			</a>
		</Section>
	</Bento>
	<small>↑↑↓↓←→←→BA</small>
	<small style="float:right"><a href="https://cd5k.net/tau/">&tau;</a></small>
</Layout>

<style is:global>
	#colors button {
		margin: 0;
		padding: 5px;
		cursor: pointer;
		position: relative;
		line-height: 0;
	}
	#colors img {
		image-rendering: pixelated;
	}
	#blog ul li {
		display: grid;
		grid-template-columns: max-content 1fr;
		gap: 1ch;
		time {
			font-family: "Adwaita Mono", "Go Mono", monospace;
			text-transform: uppercase;
		}
	}
	:root {
		scroll-behavior: smooth;
	}
	@media (prefers-color-scheme: light) {
		#blog img {
			filter: invert(1);
		}
	}
	#clock time {
		font-family: monospace, monospace;
		font-size: x-large;
		line-height: normal;
	}
	/* I think uBlock Origin renames noscript to span for some reason */
	#clock noscript,
	#clock span {
		color: GrayText;
		font-size: medium;
	}
	#clock {
		align-content: center;
		text-align: center;
	}
</style>

<script>
	let user_input = []

	addEventListener("keydown", event => {
		user_input.push(event.code)

		if (user_input.length > 10) {
			user_input.shift()
		}

		if (
			user_input.join("") ===
			"ArrowUpArrowUpArrowDownArrowDownArrowLeftArrowRightArrowLeftArrowRightKeyBKeyA"
		) {
			location.href = "/tools/"
		}
	})
</script>
