---
import Layout from "../layouts/Layout.astro"
import Quote from "../components/Quote.astro"
import Bento from "../components/Bento.astro"
import Section from "../components/Section.astro"
import Social from "../components/Social.astro"
import theCabinet from "./blog/_logo.png?url"
import {
	siDiscord,
	siMastodon,
	siGithub,
	siX,
	siBluesky,
	siGithubsponsors,
	siYoutube,
} from "simple-icons"
import Splash from "../components/Splash.astro"

import button_split from "../assets/buttons/split.gif?url"
import button_mau from "../assets/buttons/mau.png?url"
import button_malice from "../assets/buttons/malice.png?url"

// Do not inline this it is for robots
// No alt text because it would have been the same as the title
import opengraph from "../assets/opengraph.png"
---

<Layout
	title="Jack.cab"
	description="I write, code, and design. Etceteran #1."
	bodyClass="h-card"
	image={[opengraph, ""]}>
	<link href="acct:j@jack.cab" class="u-url" />
	<p class="p-note">
		I develop and design software, I write, and I lead
		<a href="https://cetera.uk">Etcetera</a>.
	</p>
	<Bento
		layout={[
			["clock pronouns socials"],
			["reviews reviews socials"],
			["webrings", "blog", "socials"],
			["buttons philosophy philosophy"],
		]}>
		<!-- style="grid-template-columns:219px auto auto" -->
		<!-- prettier-ignore -->
		<Section id="clock">
			<legend>
				Time in
				<a href="https:///en.wikipedia.org/wiki/US/Eastern">US/Eastern</a>
			</legend>
			<time id="tz"><script is:inline>tzf=_=>new Date().toLocaleString([],{timeZone:"US/Eastern",timeStyle:"short"});tz.innerText=tzf();setInterval("tz.innerText=tzf()",1e3)</script><noscript>JS required</noscript></time>
		</Section>
		<Section id="pronouns" style="text-align:center">
			<legend role="heading" aria-level="2">Pronouns</legend>
			<span style="white-space:pre;font-weight:1000;font-size:x-large">
				<span>he</span>/<span>him</span>
			</span>
		</Section>
		<Section id="socials">
			<legend role="heading" aria-level="2">Socials</legend>

			<ul style="line-height:2">
				<Social icon={siDiscord} href="https://discord.com/users/173589391560802306"
					>@nixos.org</Social
				>
				<Social icon={siMastodon} href="https://wetdry.world/@j">@j@wetdry.world</Social>
				<Social icon={siX} href="https://x.com/banger_post">@banger_post</Social>
				<Social icon={siBluesky} href="https://bsky.app/profile/jack.cab">@jack.cab</Social>
				<Social icon={siBluesky} href="https://bsky.app/profile/fedi.jack.cab">
					@fedi.jack.cab
					<ul slot="extra">
						<li>
							please also follow
							<a href="https://bsky.app/profile/ap.brid.gy">@ap.brid.gy</a>
							so that I can see your interactions
						</li>
					</ul>
				</Social>
				<Social icon={siGithub} href="https://github.com/Jack5079">
					@Jack5079
					<ul slot="extra">
						<Social icon={siGithubsponsors} href="https://github.com/sponsors/Jack5079">
							@Jack5079
						</Social>
					</ul>
				</Social>
				<Social icon={siYoutube} href="https://youtube.com/@Jack5079">@Jack5079</Social>
			</ul>
		</Section>
		<Section id="reviews">
			<legend role="heading" aria-level="2">Testimonials</legend>
			<Quote
				>What's the issue? [CC-BY-NC stands for] Creative Commons by Non Copyright<Fragment
					slot="byline"
					>Malice,
					<a href="https://discord.com/application-directory/1067543931518205973"
						>Solvalou</a
					>
					mastermind, September 2024
				</Fragment></Quote
			>
			<Quote
				>Is writing <a href="https://markojs.com/v6/">Marko</a> like edging for you<Fragment
					slot="byline"
					>split, of
					<a href="https://wetdry.world/@j/112164857178980569"
						>'MY INSTANCE CANT FUCKING FEDERATE'</a
					>
					fame, August 2024
				</Fragment></Quote
			>
		</Section>
		<Section id="webrings" style="text-align:center">
			<legend role="heading" aria-level="2">Webrings</legend>
			<section>
				<a href="https://webring.zip/prev/jack.cab">←</a>
				·
				<a href="https://webring.zip">webring.zip</a>
				·
				<a href="https://webring.zip/next/jack.cab">→</a>
			</section>
			<small>Please <a href="#socials">suggest</a> some webrings</small>
		</Section>
		<Section id="blog">
			<legend role="heading" aria-level="2">Blog</legend>
			<a href="/blog" style="display:block;text-align:center">
				<img
					src={theCabinet}
					alt="The Cabinet"
					decoding="async"
					width="90"
					height="58"
					style="image-rendering:pixelated"
				/>
			</a>
		</Section>
		<Section id="buttons">
			<legend role="heading" aria-level="2">Buttons</legend>
			<a href="/buttons" class="stack-link" aria-label="View all buttons">
				<div class="stack-inner">
					<div class="stack-button" style="background:#FF4539;color:#fff">
						View all buttons
					</div>
					<img
						src={button_split}
						alt="split"
						decoding="async"
						width="88"
						height="31"
						class="stack-button"
					/>
					<img
						src={button_mau}
						alt="mau"
						decoding="async"
						width="88"
						height="31"
						class="stack-button"
					/>
					<img
						src={button_malice}
						alt="malice"
						decoding="async"
						width="88"
						height="31"
						class="stack-button"
					/>
				</div>
			</a>
		</Section>
		<Section id="philosophy" style="aspect-ratio:16/9">
			<Splash />
		</Section>
	</Bento>
</Layout>

<style is:global>
	:root {
		scroll-behavior: smooth;
	}
	@media (prefers-color-scheme: light) {
		#blog img {
			filter: invert(1);
		}
	}
	#clock time {
		font-family: monospace, monospace;
		font-size: x-large;
		line-height: normal;
	}
	/* I think uBlock Origin renames noscript to span for some reason */
	#clock noscript,
	#clock span {
		color: GrayText;
		font-size: medium;
	}
	#clock {
		/* aspect-ratio: 1/1; */
		align-content: center;
		text-align: center;
	}

	.stack-link {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 120px;
		height: 100%;
	}

	.stack-inner {
		position: relative;
		display: inline-block;
		width: 88px;
		height: 31px;
	}

	.stack-button {
		image-rendering: pixelated;
		position: absolute;
		inset: 0;
		border-radius: 6px;
		box-shadow: 0 4px 6px rgba(255, 69, 57, 0.1);
		transition:
			transform 0.2s cubic-bezier(0.17, 0.84, 0.44, 1),
			scale 0.2s cubic-bezier(0.17, 0.84, 0.44, 1);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: x-small;
		font-weight: bold;
		color: white;
	}

	/* https://github.com/w3c/csswg-drafts/issues/1026 will greatly simplify this */
	.stack-inner .stack-button:nth-child(1) {
		z-index: 3;
	}
	.stack-button:nth-child(2) {
		z-index: 2;
	}
	.stack-button:nth-child(3) {
		z-index: 1;
	}
	.stack-button:nth-child(4) {
		z-index: 0;
	}
	.stack-link:is(:hover, :focus-visible) .stack-button:nth-child(1) {
		transform: translateY(-48px) rotate(-10deg);
	}
	.stack-link:is(:hover, :focus-visible) .stack-button:nth-child(2) {
		transform: translateY(-32px) rotate(-5deg);
	}
	.stack-link:is(:hover, :focus-visible) .stack-button:nth-child(3) {
		transform: translateY(-16px) rotate(5deg);
	}
	.stack-link:is(:hover, :focus-visible) .stack-button:nth-child(4) {
		transform: translateY(-8px) rotate(10deg);
	}
	.stack-link:active .stack-button:nth-child(1) {
		scale: 0.9;
	}
	.stack-link:active .stack-button:nth-child(2) {
		scale: 0.92;
	}
	.stack-link:active .stack-button:nth-child(3) {
		scale: 0.94;
	}
	.stack-link:active .stack-button:nth-child(4) {
		scale: 0.96;
	}
</style>
