---
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
import { getCollection } from "astro:content"
import FormattedDate from "../components/FormattedDate.astro"
import Buttons from "../components/Buttons/Buttons.astro"
import cab from "../components/cab.png?url"
import {
	siDiscord,
	siMastodon,
	siGithub,
	siCodeberg,
	siYoutube,
	siMatrix,
	siMisskey,
	siNixos,
} from "simple-icons"

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)

const socials = [
	{
		icon: siDiscord,
		href: "https://discord.com/users/173589391560802306",
		text: "@nixos.<wbr>org",
	},
	{
		icon: siMatrix,
		href: "https://matrix.to/#/@jack-w:matrix.org",
		text: "@jack-w:<wbr>matrix.org",
	},
	{
		icon: siMastodon,
		href: "https://wetdry.world/@j",
		text: "@j@<wbr>wetdry.<wbr>world",
	},
	{
		icon: siMisskey,
		href: "https://owo.community/@j",
		text: "@j@owo.<wbr>community",
	},
	{
		icon: siGithub,
		href: "https://github.com/Jack5079",
		text: "@Jack<wbr>5079",
	},
	{
		icon: siCodeberg,
		href: "https://codeberg.org/j-w",
		text: "@j-w",
	},
	{
		icon: siYoutube,
		href: "https://youtube.com/@Jack5079",
		text: "@Jack<wbr>5079",
	},
	{
		icon: siNixos,
		href: "https://github.com/Jack5079/dotfiles",
		text: "github:<wbr>Jack5079/<wbr>dotfiles",
	},
]
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Jack.cab" description={SITE_DESCRIPTION} image={cab} />
		<style is:global>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li a {
				flex: 1;
			}
			.p-name {
				text-decoration: none;
				color: inherit;
				word-wrap: break-word;
			}
			dl a {
				text-decoration: none;
				fill: currentColor;
				font-weight: bold;
				display: block;
			}
			dl a:hover {
				text-decoration: underline;
			}
			dt,
			dd {
				display: inline;
			}
			dd {
				margin-inline-start: 12px;
			}
			dl svg {
				vertical-align: middle;
			}
			dl {
				line-height: 2;
			}
			h1 img {
				vertical-align: middle;
			}
		</style>
	</head>
	<body>
		<header class="h-card">
			<h1 role="none" aria-label="Jack W.">
				<img
					src={cab}
					alt="Icon for cabinet (.cab) files in Windows Vista"
					decoding="async"
					class="u-photo"
					height="48"
					width="48"
				/>
				<a href="/" role="heading" class="p-name u-url u-uid"> Jack W.</a>
			</h1>
			<p class="p-note">
				Co-founder of
				<a class="p-org h-card" href="https://cetera.uk">
					<!-- TODO: Use <img> here so I can add u-photo class -->
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 173.8 275.72"
						height="20"
						style="vertical-align: middle"
						role="none"
						fill="currentColor">
						<circle cx="37.13" cy="26.43" r="21.6"></circle>
						<circle cx="34.62" cy="117.87" r="34.62"></circle>
						<circle cx="119.78" cy="130.68" r="21.6"></circle>
						<circle cx="127.16" cy="46.64" r="46.65"></circle>
						<circle cx="102.68" cy="219.58" r="56.14"></circle>
					</svg> Etcetera</a
				>.
			</p>
			<!-- for bridgy fed -->
			<link href="acct:j@jack.cab" class="u-url" />
			<dl>
				<a
					href="https://en.wikipedia.org/wiki/Time_in_Massachusetts#IANA_time_zone_database"
					title="Time zone">
					<dt aria-label="Time zone">
						<svg
							viewBox="0 0 16 16"
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24">
							<title>Time zone</title>
							<path
								d="m 8 0 c -4.40625 0 -8 3.59375 -8 8 s 3.59375 8 8 8 s 8 -3.59375 8 -8 s -3.59375 -8 -8 -8 z m 0 2 c 3.324219 0 6 2.675781 6 6 s -2.675781 6 -6 6 s -6 -2.675781 -6 -6 s 2.675781 -6 6 -6 z m 0 0"
							></path>
							<path
								d="m 4.929688 4.953125 c -0.128907 0.003906 -0.257813 0.058594 -0.351563 0.152344 c -0.191406 0.195312 -0.1875 0.511719 0.007813 0.707031 l 3.113281 3.042969 c 0.105469 0.097656 0.246093 0.144531 0.386719 0.128906 h 2.914062 c 0.277344 0 0.5 -0.222656 0.5 -0.5 c 0 -0.273437 -0.222656 -0.5 -0.5 -0.5 h -2.761719 l -2.953125 -2.886719 c -0.09375 -0.09375 -0.222656 -0.144531 -0.355468 -0.144531 z m 0 0"
							></path>
						</svg>
					</dt>
					<!-- prettier-ignore -->
					<dd>America/<wbr />New_<wbr />York <script is:inline id="tz"async>tzf=_=>`(${new Date().toLocaleString([],{timeZone:"America/New_York",timeStyle:"short"})})`;tzt=new Text(tzf());tz.replaceWith(tzt);setInterval("tzt.innerText=tzf()",1e3)</script></dd>
				</a>
				{
					socials.map(social => (
						<a href={social.href} rel="me" title={social.icon.title} class="u-url">
							<dt
								set:html={social.icon.svg.replace(
									`role="img"`,
									`role="img" width="24" height="24"`
								)}
								aria-label={social.icon.title}
							/>
							<dd set:html={social.text} />
						</a>
					))
				}
			</dl>
			<Buttons />
		</header>

		<section>
			<ul>
				{
					posts.map(post => (
						<li>
							<a href={`/${post.slug}/`}>{post.data.title}</a>
							<FormattedDate style="color:GrayText" date={post.data.pubDate} />
						</li>
					))
				}
			</ul>
		</section>
		<h2>Quotes</h2>
		{
			[
				["[...] all of my ideas i just steal from jack [...]", "split, 2023"],
				[
					"jack if you start a civil war in the uk I dont want no part in it",
					"Charlie, 2022",
				],
				[
					"DELETE THIS TWEET RIGHT NOW OR ELSE I WILL SEND YOUR HOME ADDRESS",
					"tacticalmanx75, 2022",
				],
			].map(([quote, author]) => (
				<figure data-nosnippet itemtype="https://schema.org/Quotation">
					<blockquote itemprop="text">
						<p>{quote}</p>
					</blockquote>
					<figcaption>
						―
						<span itemprop="citation">
							{author}
						</span>
					</figcaption>
				</figure>
			))
		}
		<h2>FAQ</h2>
		<h3>
			<a href="https://tech.lgbt/@pinkcreeper100/111156296740088614"
				>why have you become a filing cabinet?</a
			>
		</h3>
		<p>
			After I lost <code>5079.ml</code>, I needed a new domain. So I went onto Cloudflare and
			started typing <a href="https://en.wikipedia.org/wiki/Top-level_domain">TLDs</a> to see
			if I could just get Jack. Somehow, <code>Jack.cab</code> was available, so I jumped on
			it.
		</p>
		<p>
			<code>.cab</code> is not only a TLD, but the file extension for the <a
				href="https://en.wikipedia.org/wiki/Cabinet_(file_format)">Cabinet</a
			>
			 archive format. I needed a new profile picture anyway, so I used the Vista icon for the
			format.
		</p>
		<Footer />
	</body>
</html>
