---
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
import { getCollection } from "astro:content"
import FormattedDate from "../components/FormattedDate.astro"
import { siDiscord, siMastodon, siGithub, siCodeberg, siYoutube, siMatrix } from "simple-icons"
import LastName from "../components/LastName.svelte"

const posts = (await getCollection("blog")).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
)

const socials = [
	{
		icon: siDiscord,
		href: "https://discord.com/users/173589391560802306",
		text: "Jack#9701",
	},
	{
		icon: siMatrix,
		href: "https://matrix.to/#/@jack-w:matrix.org",
		text: "@jack-w:matrix.org",
	},
	{
		icon: siMastodon,
		href: "https://wetdry.world/@j",
		text: "@j@wetdry.world",
	},
	{
		icon: siGithub,
		href: "https://github.com/Jack5079",
		text: "@Jack5079",
	},
	{
		icon: siCodeberg,
		href: "https://codeberg.org/j-w",
		text: "@j-w",
	},
	{
		icon: siYoutube,
		href: "https://youtube.com/@Jack5079",
		text: "@Jack5079",
	},
]
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li :global(time) {
				flex: 0 0 148px;
				font-style: italic;
				color: var(--subtext0);
			}
			ul li a:visited {
				color: var(--sapphire);
			}
			.p-name {
				text-decoration: none;
				color: inherit;
				display: flex;
				flex-direction: row;
				gap: 0.5ch;
				font-size: calc(min(32px, 4vw));
			}
			dl a {
				display: flex;
				gap: 1ch;
				text-decoration: none;
				color: var(--subtext0);
				fill: currentColor;
				font-weight: bold;
			}
			dl a:hover {
				text-decoration: underline;
			}
			dd {
				margin-inline-start: 0;
			}
			dl :global(svg) {
				height: 24px;
			}
			dl {
				margin-block-end: 0;
			}
			h1 {
				display: flex;
				align-items: center;
				gap: 0.5ch;
				margin: 0;
			}
			@media (all) {
				h1 {
					justify-content: center;
				}
				header {
					position: fixed;
					width: 250px;
					top: 2em;
					left: calc(50% - 600px);
					background: var(--surface0);
					padding: 1ch;
					box-sizing: border-box;
					border-radius: 1ch;
					border: 1px solid var(--surface1);
				}
			}
		</style>
	</head>
	<body>
		<header class="h-card">
			<h1 role="none" aria-label="Jack W.">
				<img
					src="/livid.webp"
					alt="photo of a beagle (not me, i am not a beagle) in the kitchen, close up, looking to the left, floppy ears, mouth closed, eyes open"
					class="u-photo"
					height="48px"
					width="48px"
					style="border-radius: 50%;"
				/>
				<a href="/" role="heading" class="p-name u-url u-uid">
					Jack <LastName client:load />
				</a>
			</h1>
			<p class="p-note">
				You don't need to know my last name<br />
				sometimes posts code at <a class="p-org" href="https://cetera.uk">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 173.8 275.72"
						height="20"
						style="vertical-align: middle;"
						role="none"
						fill="currentColor">
						<circle cx="37.13" cy="26.43" r="21.6"></circle>
						<circle cx="34.62" cy="117.87" r="34.62"></circle>
						<circle cx="119.78" cy="130.68" r="21.6"></circle>
						<circle cx="127.16" cy="46.64" r="46.65"></circle>
						<circle cx="102.68" cy="219.58" r="56.14"></circle>
					</svg> Etcetera
				</a>
			</p>
			<!-- for bridgy fed -->
			<a href="acct:j@jack.cab" class="u-url" role="none" aria-hidden hidden tabindex="-1">
			</a>
		</header>

		<dl>
			{
				socials.map(social => (
					<a href={social.href} target="_blank" rel="me">
						<dt set:html={social.icon.svg} aria-label={social.icon.title} />
						<dd>{social.text}</dd>
					</a>
				))
			}
		</dl>

		<!-- <main>
			<section>
				<em>WIP: no actual content yet</em>
				<ul>
					{
						posts.map(post => (
							<li>
								<FormattedDate date={post.data.pubDate} />
								<a href={`/${post.slug}/`}>{post.data.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer /> -->
	</body>
</html>
