---
import BaseHead from "../components/BaseHead.astro"
import Footer from "../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
import Buttons from "../components/Buttons/Buttons.astro"
import { getCollection } from "astro:content"
import FormattedDate from "../components/FormattedDate.astro"
import cab from "../components/cab.png?url"
import Header from "../components/Header.astro"
import ClockParagraph from "../components/ClockParagraph.astro"
const posts = (await getCollection("blog"))?.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Jack.cab" description={SITE_DESCRIPTION} image={cab} />
		<style is:global>
			figure {
				margin-inline: 0;
			}
		</style>
	</head>
	<body class="h-card">
		<Header home />
		<p class="p-note">
			I'm the <span class="p-org h-card">
				<span class="p-role">co-founder</span> of
				<a href="https://cetera.uk" class="p-name u-url">
					<svg
						viewBox="0 0 173.8 275.72"
						height="20"
						style="vertical-align: middle"
						class="u-photo"
						role="none"
						fill="currentColor">
						<circle cx="37.13" cy="26.43" r="21.6"></circle>
						<circle cx="34.62" cy="117.87" r="34.62"></circle>
						<circle cx="119.78" cy="130.68" r="21.6"></circle>
						<circle cx="127.16" cy="46.64" r="46.65"></circle>
						<circle cx="102.68" cy="219.58" r="56.14"></circle>
					</svg> Etcetera</a
				></span
			>, a free software development group.
		</p>
		<p>
			My pronouns are <span class="u-pronoun" style="white-space:pre"
				><span class="p-x-pronoun-nominative">he</span>/<span class="p-x-pronoun-oblique"
					>him</span
				></span
			>.
			<ClockParagraph tz="US/Eastern" />
		</p>
		<!-- for bridgy fed -->
		<link href="acct:j@jack.cab" class="u-url" />
		{
			posts && (
				<>
					<h2>Blog</h2>
					<ul>
						{posts.map(post => (
							<li>
								<a href={`/${post.slug}/`}>{post.data.title}</a>
								<FormattedDate style="color:GrayText" date={post.data.pubDate} />
							</li>
						))}
					</ul>
				</>
			)
		}
		<Buttons />
		<h2>Feedback</h2>
		<form action="https://feedback.5079.workers.dev/" method="post">
			<textarea name="text" placeholder="Feedback" style="resize:vertical;width:100%"
			></textarea>
			<input type="submit" value="Send feedback" />
			<input type="hidden" name="wave" value="smiley" />
		</form>
		<h2 id="reviews">Reviews</h2>
		<p>As you can see, I am the most beloved member of my friend group(s).</p>
		<section>
			{
				[
					["whys jack so obsessed with wave smiley", "mau, 2023"],
					["WHAT THE FUCK JACK [...] WHY DOES HE DO THIS", "Charlie, 2023"],
					[
						"jack I'm sorry this looks fucking terrible and you should explode",
						"aagaming, 2023",
					],
					[
						"DECAPITATE. YOUR EXECUTION DATE IS TOMORROW. IM GOING TO YOUR FDUCKING [sic] HOUSE AND PUTTING YOU ON MY GUILLOTINE. I WILL RECREATE THE FRENCH REVOLUTION IN YOUR LIVING ROOOMMM!",
						"xzen, 2023",
					],
					["[...] all of my ideas i just steal from jack [...]", "split, 2023"],
					["the dude [Jack] is an enigma to me", "accel, 2023"],
					["SHUT UP JACK", "malice, 2023"],
					["Josh Miller is gonna assassinate you", "Bongo, 2023"],
					[
						"DELETE THIS TWEET RIGHT NOW OR ELSE I WILL SEND YOUR HOME ADDRESS",
						"tacticalmanx75, 2022",
					],
				].map(([quote, author]) => (
					<figure data-nosnippet itemtype="https://schema.org/Quotation" itemscope="">
						<blockquote itemprop="text">
							<p>{quote}</p>
						</blockquote>
						<figcaption>
							―<span itemprop="citation">{author}</span>
						</figcaption>
					</figure>
				))
			}
		</section>
		<Footer />
	</body>
</html>
