---
import { Picture } from "astro:assets"
import Layout from "./Layout.astro"
import BlueskyComments from "../components/BlueskyComments.astro"

interface Props {
	title: string
	date: Date
	image?: { src: ImageMetadata; alt: string; pixelated?: boolean }
	description?: string
	children: any
	bluesky?: string
	blinding?: boolean
}

const { image, date, title, description, bluesky, blinding } = Astro.props
import white from "./white.webm?url"

---

<Layout {description} {title} image={image && [image.src, image.alt]} large_image>
	<article class="h-entry">
		{
			image &&
				(image.pixelated ? (
					<img
						src={image.src.src}
						style="image-rendering:pixelated"
						alt={image.alt}
						width={800}
						class="u-featured"
					/>
				) : (
					<Picture
						src={image.src}
						alt={image.alt}
						width={800}
						densities={[1, 1.5, 0.5]}
						class="u-featured"
					/>
				))
		}
		<hgroup>
			<h1 class="p-name">{Astro.props.title}</h1>
			{description && <p class="p-summary">{description}</p>}
			{
				date && (
					<a class="u-url">
						Published
						<time class="dt-published" datetime={date.toISOString()}>
							{date.toLocaleDateString([], { timeZone: "UTC" })}
						</time>
					</a>
				)
			}
		</hgroup>
		<div class="e-content">
			<slot />
		</div>
	</article>
	{blinding && (<>
	<video src={white} playsinline muted width="4" height="4" inert id="blinding" />
	<style is:global>
		@media not (dynamic-range: high) {
			article::before {
				content: "If you see this, the styling is disabled because your display or browser does not support it. Use a MacBook, make sure your screen is set to Apple XDR Display, and open this article in Safari";
				text-align: center;
				display: block;
				font-size: xx-large;
				font-weight: bold;
			}
			article div p:nth-child(2)::after {
				content: " If you see this, the styling is disabled because your display or browser does not support it. Use a MacBook, make sure your screen is set to Apple XDR Display, and open this article in Safari.";
				font-weight: bold;
			}
			video {
				display: none;
			}
			#contain + p::before {
				content: "The above visualization only works if you are on HDR. ";
				font-weight: bold;
				display: block;
				margin-block: 1lh;
				text-align: center;
			}
		}

		@media (dynamic-range: high) {
			.comment {
				border-left-color: white;
			}
			.comment .avatar {
				display: none !important;
			}
		html {
			color-scheme: light;
		}

		* {
			color: white !important;
		}

		nav img {
			filter: none !important;
		}

		hgroup a {
			filter: brightness(1.5);
			backdrop-filter: brightness();
		}

		body {
			backdrop-filter: brightness(3) blur(0.6px);
			background: white !important;
			margin-block: 1ch;
		}
		
		
		:focus-visible {
			outline: solid 2px white;
			outline-offset: 3px;
		}

		::selection {
			background: white;
		}

		hr {
			border: none;
			background: linear-gradient(to right, gray, white);
			height: 5px;
			filter: brightness(2);
			backdrop-filter: brightness();
		}

		article img {
			filter: brightness(10);
			backdrop-filter: brightness();
		}
		#dark {
			background: white;
			span {
				backdrop-filter: brightness();
				filter: brightness(2);
				background: rgb(128,128,128);
			}
		}
		}
		#contain {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1ch;
			flex-direction: row;
		}
		#dark, #light {
			font-size: large;
			display: grid;
			place-content: center;
			aspect-ratio: 1/1;
			width: 50%;
		}
	</style>
	</>)}
	{bluesky && <BlueskyComments record={bluesky} />}
</Layout>

<style is:global>
	img {
		max-width: 100%;
		height: auto;
	}
	.e-content > p:last-of-type::after {
		content: "";
		background: currentColor;
		mask-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAQAgMAAABfD3aUAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAdnJLH8AAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAlQTFRFAAAAAAAA////g93P0gAAAAF0Uk5TAEDm2GYAAAA2SURBVAjXLcqxCcBADMVQcVXwJMFTZpQjldGU9wkpXiNEC74P7h13VCxUhmaM6zf9Ncs80jUHwegVF1+wUSkAAAAASUVORK5CYII");
		image-rendering: pixelated;
		width: 12px;
		height: 16px;
		display: inline-block;
		vertical-align: text-top;
		margin-left: 0.5ch;
	}
	hgroup {
		text-align: center;
	}
	hgroup a {
		color: GrayText;
	}
	hgroup .p-name {
		font-size: xx-large;
		margin-bottom: 0;
		text-wrap: balance;
		width: 100%;
	}
	.p-summary {
		font-style: italic;
	}
	.u-featured {
		-webkit-mask-image: linear-gradient(to top, transparent 0%, black 40%);
		mask-image: linear-gradient(to top, transparent 0%, black 40%);
		border-radius: 1em 1em 0 0;
		width: 100%;
		height: auto;
	}
</style>
