---
import type { CollectionEntry } from 'astro:content'
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'blog'>['data']

const { title, description, pubDate, updatedDate, heroImage } = Astro.props
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<meta name="robots" content="noindex" />
		<style>
			.p-name {
				font-size: 2em;
			}
			.last-updated-on {
				font-style: italic;
			}
			hgroup a {
				display: contents;
				color: var(--subtext0);
			}
			/* Top of the page, then fades out */
			.u-featured {
				-webkit-mask-image: linear-gradient(
					to top,
					transparent 0%,
					black 40%
				);
				mask-image: linear-gradient(to top, transparent 0%, black 40%);
				border-radius: 1em;
			}
			hgroup {
				text-align: center;
			}
			.p-summary {
				font-style: italic;
			}
		</style>
	</head>

	<body class="h-entry">
		<Header />
		<main>
			<article>
				{
					heroImage && (
						<img width="100%" src={heroImage} alt="" class="u-featured" />
					)
				}
				<hgroup>
					<h1 class="p-name">{title}</h1>
					<a class="u-url" href={Astro.url.href}>
						<FormattedDate date={pubDate} />

						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on{' '}
									<FormattedDate date={updatedDate} />
								</div>
							)
						}
					</a>
					{description && <p class="p-summary">{description}</p>}
				</hgroup>
				<div class="e-content">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
